@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
main {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: rgb(15 23 42);
  -webkit-border-radius: 1ex;
  border-radius: 1ex;
}

body::-webkit-scrollbar-thumb {
  background: #fb7e14;
  -webkit-border-radius: 1ex;
  border-radius: 1ex;
}

body::-webkit-scrollbar-corner {
  background: rgb(15 23 42);
}

.scrollbar::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: rgb(15 23 42);
  -webkit-border-radius: 1ex;
  border-radius: 1ex;
}

.scrollbar::-webkit-scrollbar:disabled {
  background: grey;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #fb7e14;
  -webkit-border-radius: 1ex;
  border-radius: 1ex;
}

.scrollbar::-webkit-scrollbar-corner {
  background: rgb(15 23 42);
}

html main {
  background-image: radial-gradient(rgb(0, 0, 0, 0.2) 1px, transparent 0);
  background-size: 40px 40px;
  background-repeat: space;
  background-attachment: fixed;
}

html.dark main {
  background-image: radial-gradient(
    rgb(255, 255, 255, 0.15) 1px,
    transparent 0
  );
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}
